<h2>Edit
  <%= resource_name.to_s.humanize %></h2>
<div class="row">
  <div class="col-md-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
    </div>
    <div class="form-group">
      <%= f.label :subjects, "Subjects Tutored" %>
      <%= f.text_field :subjects, class: 'form-control', placeholder: "Physics, AP Calc, SAT" %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, class: 'form-control', placeholder: "Enter email"%>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for:
      <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %>
      <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, class: 'form-control', placeholder: "Enter new password", autocomplete: "off" %>
      <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %>
        characters minimum</em>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm new password", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %>
      <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.submit "Update", class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>
</div>
<hr>
<h3>Cancel my account</h3>

<p>
  Unhappy? Contact us with any questions. We are here to help.
  <br>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning btn-xs" %>
  <%= link_to "Back", :back %>
</p>
