<h1>Student</h1>
<div class="btn-group">
  <%=link_to "Edit", edit_student_path(@student), class: "btn btn-info btn-xs", type: "button"%>
  <%=link_to "Student List", students_path, class: "btn btn-primary btn-xs", type: "button"%>
  <%=link_to "Delete", "#", class: "btn btn-danger btn-xs", type: "button"%>
</div>
<div>
  <span class="title">Name:</span>
  <p><%=@student.name%></p>
</div>
<div>
  <span class="title">Biography:</span>
  <p class="text-justified"><%=@student.bio%></p>
</div>
