<%= form_for @tsession do |s| %>
<% if @tsession.errors.any? %>
<div class="alert alert-danger">
  <h4>There are
    <%= pluralize(@tsession.errors.count, "error") %>.</h4>
  <ul>
    <% @tsession.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= s.hidden_field :student_id, :value => @student.id %>

<div class="form-group">
  <%= s.label :session_name, "Session Name" %>
  <%= s.text_field :session_name, class: 'form-control', placeholder: 'StudentLastName - TutorLastName MDY' %>
</div>
<%= s.submit "Save", class: 'btn btn-success btn-sm' %>
<%= link_to "Cancel", tut_sessions_path %>
<% end %>

<br>
<%= params.inspect %>
