<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="wrapper">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:"navbar-brand" do %>
        <%= image_tag("http://placehold.it/15x15", :alt => "Brand")%>
        <span id="brand-name">Tutor-Notes</span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <%= link_to "Students", students_path%>
          </li>
          <li>
            <%= link_to "Sessions", tut_sessions_path%>
          </li>
          <div class="pull-right navbar-text">
            <% if current_tutor %>
            Hello
            <%= link_to current_tutor.name, edit_tutor_registration_path %>!
            <%= link_to "Sign out", destroy_tutor_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_tutor_session_path %>
            or
            <%= link_to "Sign Up", new_tutor_registration_path %>
            <% end %>
          </div>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
